<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="flex flex-col gap-2 mx-auto max-w-[400px] p-4 shadow-sm my-8 rounded-lg bg-white">
        <div class="flex gap-2 justify-end">
            <a href="/view/{{selected.id}}" class="px-2 py-1 bg-green-500 text-white rounded">Back to view</a>

            </div>
            <div>
            <p class="text-gray-500 text-xs">Record ID</p>
            <h1 class="text-lg font-semibold">{{ selected.name}}</h1>

        </div>
        <div>
            <p class="text-gray-500 text-xs">Student ID</p>
            <h1 class="text-lg font-semibold">{{selected.student_id}}</h1>
        </div>
        
        
        <div>
            <p class="text-gray-500 text-xs">Is Present</p>
            <h1 class="text-lg font-semibold">{{selected.is_present}}</h1>
        </div>
        <form action="/update/{{ selected.id }}/" method="post" class="flex flex-col gap-2">
          {% csrf_token %} 
        
          
          <div class="flex flex-col">
          <label for="">{{ student.name }}</label>
          <input type="checkbox" name="ispresent{{student.id}}"{% if selected.is_present %}checked{% endif %} class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-green-300" >
          
          </div>
          
          <button type="submit" class="px-2 py-2 bg-black text-white rounded">Save Attendance</button>
        </form>
        
    </div>

</body>

</html>